# Python Statistics Essential Training

## Collecting and Cleaning Data

### Loading Data

Dataset: Ames Data set

In [2]:
# import relevant libraries
import numpy as np
import pandas as pd

pd.__version__

'2.0.3'

# Final Cleaning Pipeline

In [2]:
# import relevant libraries
import numpy as np
import pandas as pd



# String INTs Function
def shrink_ints(df):
    mapping = {}
    for col in df.dtypes[df.dtypes == 'int64[pyarrow]'].index:
        max_ = df[col].max()
        min_ = df[col].min()
        if min_ < 0:
            continue
        elif max_ < 255:
            mapping[col] = 'uint8[pyarrow]'
        elif max_ < 65_535:
            mapping[col] = 'uint16[pyarrow]'
        elif max_ < 4294967295:
            mapping[col] = 'uint64[pyarrow]'
        return df.astype(mapping)




# Creating a clean_housing function
def clean_housing(df):
    return(
    df
    # Using the assign method to update records
    .assign(
        # Update the 
        **df
            # Select the string cols in the df
            .select_dtypes('string')
            # replace all the NA values in the df with Missing
            .replace('', 'Missing')
            # Convert to category
            .astype('category'),
        # Using dictionary unpacking to update the Garage col with clipped col
        **{'Garage Yr Blt': df['Garage Yr Blt'].clip(upper=df['Year Built'].max())}      
    )
    # Convert the numerical variables to the right datatypes to save memory
    .pipe(shrink_ints)
    )



# Execute the Pipeline
url = 'AmesHousing.csv'

# Load the data
# Engine = Pyarrow makes the back-end quicker with pyarrow and the pyarrow data types
df = pd.read_csv(url, engine='pyarrow', dtype_backend='pyarrow')

# Clean the data and Preview the result
clean_housing(df)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141,31770,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80,11622,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,NA,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81,14267,Pave,NA,IR1,Lvl,...,0,NA,NA,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93,11160,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74,13830,Pave,NA,IR1,Lvl,...,0,NA,MnPrv,NA,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37,7937,Pave,NA,IR1,Lvl,...,0,NA,GdPrv,NA,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,<NA>,8885,Pave,NA,IR1,Low,...,0,NA,MnPrv,NA,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62,10441,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77,10010,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74,9627,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,11,2006,WD,Normal,188000

In [4]:
url = 'AmesHousing.csv'

# Engine = Pyarrow makes the back-end quicker with pyarrow and the pyarrow data types
df = pd.read_csv(url, engine='pyarrow', dtype_backend='pyarrow')

In [5]:
# View the shape of the df: Note that shape is a PROPERTY and NOT a METHOD
df.shape

(2930, 82)

In [6]:
# Preview the data
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141,31770,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80,11622,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,NA,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81,14267,Pave,NA,IR1,Lvl,...,0,NA,NA,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93,11160,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74,13830,Pave,NA,IR1,Lvl,...,0,NA,MnPrv,NA,0,3,2010,WD,Normal,189900

In [7]:
# Get your summary statistics

df.describe()

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2930.00000,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,1465.50000,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,845.96247,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,1.00000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,733.25000,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,1465.50000,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,2197.75000,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,2930.00000,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

> Note that the count from the result set counts ONLY non-missing values

## Strings and Categories

- Understand the data types of columns in a DataFrame using the `.dtypes` attribute
- Select and filter categorical columns using the `.select_dtypes` method
- Compute and interpret summary statistics for categorical columns using the `.describe` method
- Determine memory usage of string columns in a DF
- Convert string columns to the `category` data type to save memory

In [8]:
df.dtypes

Order              int64[pyarrow]
PID                int64[pyarrow]
MS SubClass        int64[pyarrow]
MS Zoning         string[pyarrow]
Lot Frontage       int64[pyarrow]
                       ...
Mo Sold            int64[pyarrow]
Yr Sold            int64[pyarrow]
Sale Type         string[pyarrow]
Sale Condition    string[pyarrow]
SalePrice          int64[pyarrow]
Length: 82, dtype: object

In [10]:
# Selecting the string dtype. In Pandas 1, the default object type is used
# Pandas 2 has its own native dtype string

df.select_dtypes('string') # or 'strings[pyarrow]'

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence,Misc Feature,Sale Type,Sale Condition
0,RL,Pave,NA,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,P,NA,NA,NA,WD,Normal
1,RH,Pave,NA,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,Attchd,Unf,TA,TA,Y,NA,MnPrv,NA,WD,Normal
2,RL,Pave,NA,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,NA,NA,Gar2,WD,Normal
3,RL,Pave,NA,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,Y,NA,NA,NA,WD,Normal
4,RL,Pave,NA,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,Fin,TA,TA,Y,NA,MnPrv,NA,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,RL,Pave,NA,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,Detchd,Unf,TA,TA,Y,NA,GdPrv,NA,WD,Normal
2926,RL,Pave,NA,IR1,Low,AllPub,Inside,Mod,Mitchel,Norm,...,Attchd,Unf,TA,TA,Y,NA,MnPrv,NA,WD,Normal
2927,RL,Pave,NA,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,...,NA,NA,NA,NA,Y,NA,MnPrv,Shed,WD,Normal
2928,RL,Pave,NA,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,Attchd,RFn,TA,TA,Y,NA,NA,NA,WD,Normal
2929,RL,Pave,NA,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,Attchd,Fin,TA,TA,Y,NA,NA,NA,WD,Normal

In [12]:
# Lets describe the strings

(
    # Select the string data type
    df.select_dtypes('string')
    # Describe the string df
    .describe()
    # Lets transpose the result to see a tad more
    .T
)

               count unique      top  freq
MS Zoning       2930      7       RL  2273
Street          2930      2     Pave  2918
Alley           2930      3       NA  2732
Lot Shape       2930      4      Reg  1859
Land Contour    2930      4      Lvl  2633
Utilities       2930      3   AllPub  2927
Lot Config      2930      5   Inside  2140
Land Slope      2930      3      Gtl  2789
Neighborhood    2930     28    NAmes   443
Condition 1     2930      9     Norm  2522
Condition 2     2930      8     Norm  2900
Bldg Type       2930      5     1Fam  2425
House Style     2930      8   1Story  1481
Roof Style      2930      6    Gable  2321
Roof Matl       2930      8  CompShg  2887
Exterior 1st    2930     16  VinylSd  1026
Exterior 2nd    2930     17  VinylSd  1015
Mas Vnr Type    2930      6     None  1752
Exter Qual      2930      4       TA  1799
Exter Cond      2930      5       TA  2549
Foundation      2930      6    PConc  1310
Bsmt Qual       2930      7       TA  1283
Bsmt Cond       2930      7       TA  2616
Bsmt Exposure   2930      6       No  1906
BsmtFin Type 1  2930      8      GLQ   859
BsmtFin Type 2  2930      8      Unf  2499
Heating         2930      6     GasA  2885
Heating QC      2930      5       Ex  1495
Central Air     2930      2        Y  2734
Electrical      2930      6    SBrkr  2682
Kitchen Qual    2930      5       TA  1494
Functional      2930      8      Typ  2728
Fireplace Qu    2930      6       NA  1422
Garage Type     2930      7   Attchd  1731
Garage Finish   2930      5      Unf  1231
Garage Qual     2930      7       TA  2615
Garage Cond     2930      7       TA  2665
Paved Drive     2930      3        Y  2652
Pool QC         2930      5       NA  2917
Fence           2930      5       NA  2358
Misc Feature    2930      6       NA  2824
Sale Type       2930     10      WD   2536
Sale Condition  2930      6   Normal  2413

> The low cardinality (unique count) of the string columns mean that we can convert this to categorical variables

In [14]:
(df
    # Select the dtypes string
    .select_dtypes('string')
    # Check the memory usage
    .memory_usage(deep=True)
    # Sum of Memory Usage
    .sum() 
)

957287

In [15]:
(df
    # Select the dtypes string
    .select_dtypes('string')
    # Convert all strings to the type category
    .astype('category') 
    # Check the memory usage
    .memory_usage(deep=True)
    # Sum of Memory Usage
    .sum() 
)

139033

In [19]:
# Finding the PERC of missing values in each col
(df
    # Checking whether value is missing in the df
    .isna()
    # Find the fraction of missing vals in each col
    .mean()
    # Convert to percentage
    .mul(100) 
    # Filter out cols with no missing values
    .pipe(lambda ser: ser[ser > 0]) 
)

Lot Frontage      16.723549
Mas Vnr Area       0.784983
BsmtFin SF 1       0.034130
BsmtFin SF 2       0.034130
Bsmt Unf SF        0.034130
Total Bsmt SF      0.034130
Bsmt Full Bath     0.068259
Bsmt Half Bath     0.068259
Garage Yr Blt      5.426621
Garage Cars        0.034130
Garage Area        0.034130
dtype: float64

In [20]:
# Finding the PERC of missing values in each col
(df
    # Select the string values
    .select_dtypes('string') 
    # Checking whether value is EMPTY in the df
    .eq('')
    # Find the fraction of missing vals in each col
    .mean()
    # Convert to percentage
    .mul(100) 
    # Filter out cols with no missing values
    .pipe(lambda ser: ser[ser > 0]) 
)

Mas Vnr Type      0.784983
Bsmt Qual         0.034130
Bsmt Cond         0.034130
Bsmt Exposure     0.136519
BsmtFin Type 1    0.034130
BsmtFin Type 2    0.068259
Electrical        0.034130
Garage Finish     0.068259
Garage Qual       0.034130
Garage Cond       0.034130
dtype: float64

In [26]:
# Getting rid of rows with a missing value

(df
    [~df
    # Select the string data type
    .select_dtypes('string')
    # Is the value empty
    .eq('')
    # Select any of the cols where there is an empty val
    .any(axis='columns')
    ]
)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141,31770,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80,11622,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,NA,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81,14267,Pave,NA,IR1,Lvl,...,0,NA,NA,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93,11160,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74,13830,Pave,NA,IR1,Lvl,...,0,NA,MnPrv,NA,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37,7937,Pave,NA,IR1,Lvl,...,0,NA,GdPrv,NA,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,<NA>,8885,Pave,NA,IR1,Low,...,0,NA,MnPrv,NA,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62,10441,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77,10010,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74,9627,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,11,2006,WD,Normal,188000

> Notice that the dataset contains NAs as well (Not empty but came pre-populated with NAs)

In [28]:
(df
    # select the string data types
    .select_dtypes('string')
    # Lets observations/rows/records with the NA types
    .eq('NA')
    # Get the Frac of records with NA
    .mean()
    # Convert to percentage
    .mul(100) 
    # Filter out cols with no missing values
    .pipe(lambda ser: ser[ser > 0])
)

Alley             93.242321
Bsmt Qual          2.696246
Bsmt Cond          2.696246
Bsmt Exposure      2.696246
BsmtFin Type 1     2.696246
BsmtFin Type 2     2.696246
Fireplace Qu      48.532423
Garage Type        5.358362
Garage Finish      5.358362
Garage Qual        5.392491
Garage Cond        5.392491
Pool QC           99.556314
Fence             80.477816
Misc Feature      96.382253
dtype: float64

In [29]:
# Notice the diff b/n Pool_QC missing values and NA filled values
(
    df
    .query("`Pool QC`.isna()")
)

Empty DataFrame
Columns: [Order, PID, MS SubClass, MS Zoning, Lot Frontage, Lot Area, Street, Alley, Lot Shape, Land Contour, Utilities, Lot Config, Land Slope, Neighborhood, Condition 1, Condition 2, Bldg Type, House Style, Overall Qual, Overall Cond, Year Built, Year Remod/Add, Roof Style, Roof Matl, Exterior 1st, Exterior 2nd, Mas Vnr Type, Mas Vnr Area, Exter Qual, Exter Cond, Foundation, Bsmt Qual, Bsmt Cond, Bsmt Exposure, BsmtFin Type 1, BsmtFin SF 1, BsmtFin Type 2, BsmtFin SF 2, Bsmt Unf SF, Total Bsmt SF, Heating, Heating QC, Central Air, Electrical, 1st Flr SF, 2nd Flr SF, Low Qual Fin SF, Gr Liv Area, Bsmt Full Bath, Bsmt Half Bath, Full Bath, Half Bath, Bedroom AbvGr, Kitchen AbvGr, Kitchen Qual, TotRms AbvGrd, Functional, Fireplaces, Fireplace Qu, Garage Type, Garage Yr Blt, Garage Finish, Garage Cars, Garage Area, Garage Qual, Garage Cond, Paved Drive, Wood Deck SF, Open Porch SF, Enclosed Porch, 3Ssn Porch, Screen Porch, Pool Area, Pool QC, Fence, Misc Feature, Misc Val, Mo Sold, Yr Sold, Sale Type, Sale Condition, SalePrice]
Index: []

[0 rows x 82 columns]

In [30]:
# Notice the diff b/n Pool_QC missing values and NA filled values
(
    df
    .query("`Pool QC`.eq('NA')")
)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141,31770,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80,11622,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,NA,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81,14267,Pave,NA,IR1,Lvl,...,0,NA,NA,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93,11160,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74,13830,Pave,NA,IR1,Lvl,...,0,NA,MnPrv,NA,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37,7937,Pave,NA,IR1,Lvl,...,0,NA,GdPrv,NA,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,<NA>,8885,Pave,NA,IR1,Low,...,0,NA,MnPrv,NA,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62,10441,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77,10010,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74,9627,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,11,2006,WD,Normal,188000

In [31]:
# Changing pre-filles NA values to empty
(
    df
    # Using the assign method to update records
    .assign(
        # Select the string cols in the df
        **df.select_dtypes('string')
        # replace all the NA values in the df with Notapplicable
        .replace('', 'Not Applicable')
    )
)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141,31770,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80,11622,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,NA,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81,14267,Pave,NA,IR1,Lvl,...,0,NA,NA,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93,11160,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74,13830,Pave,NA,IR1,Lvl,...,0,NA,MnPrv,NA,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37,7937,Pave,NA,IR1,Lvl,...,0,NA,GdPrv,NA,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,<NA>,8885,Pave,NA,IR1,Low,...,0,NA,MnPrv,NA,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62,10441,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77,10010,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74,9627,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,11,2006,WD,Normal,188000

In [38]:
# Examining Electrical values
(
    df
    # Select the Electrical col
    [['Electrical']]
    # Lets get the value counts
    .value_counts()
)

Electrical
SBrkr         2682
FuseA          188
FuseF           50
FuseP            8
                 1
Mix              1
Name: count, dtype: int64

In [40]:
# Which row has missing values
(
    df
    # Lets query to find out what is happening
    .query("Electrical.eq('')")
)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
1577,1578,916386080,80,RL,73,9735,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,5,2008,WD,Normal,167500

In [41]:
# Examining Electrical values
(
    df
    # Select the Electrical col
    [['Bsmt Cond']]
    # Lets get the value counts
    .value_counts()
)

Bsmt Cond
TA           2616
Gd            122
Fa            104
NA             79
Po              5
Ex              3
                1
Name: count, dtype: int64

In [42]:
# Converting to Category
(
    df
    # Using the assign method to update records
    .assign(
        # Update the 
        **df
        # Select the string cols in the df
        .select_dtypes('string')
        # replace all the NA values in the df with Notapplicable
        .replace('', 'Not Applicable')
        # Convert to category
        .astype('category')
    )
)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141,31770,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80,11622,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,NA,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81,14267,Pave,NA,IR1,Lvl,...,0,NA,NA,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93,11160,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74,13830,Pave,NA,IR1,Lvl,...,0,NA,MnPrv,NA,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37,7937,Pave,NA,IR1,Lvl,...,0,NA,GdPrv,NA,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,<NA>,8885,Pave,NA,IR1,Low,...,0,NA,MnPrv,NA,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62,10441,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77,10010,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74,9627,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,11,2006,WD,Normal,188000

In [43]:
# Converting to Category
(
    df
    # Using the assign method to update records
    .assign(
        # Update the 
        **df
        # Select the string cols in the df
        .select_dtypes('string')
        # replace all the NA values in the df with Notapplicable
        .replace('', 'Not Applicable')
        # Convert to category
        .astype('category')
    )
    # Check memory usage
    .memory_usage(deep=True)
    # Sum
    .sum()
)

1057370

## Cleaning Numbers

- Select and filter numeric columns using the `.select_dtypes` method.
- Compute and interpret summary statistics for numeric columns using the `.describe` method.
- Identify missing values in numeric columns.
- Display a larger amount of data using options for minimum rows and maximum columns
- Utilize the `style` attribute to enhance the display of Dataframe

In [45]:
# In Pandas 1.x there would be many numbers here
(
    df
    # select all data types with numeric vals
    .select_dtypes('float')
)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2930 rows x 0 columns]

In [47]:
# No floating point cols
(
    df
    # Now lets select dtypes
    .select_dtypes('int')
)

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,1,526301100,20,141,31770,6,5,1960,1960,112,...,210,62,0,0,0,0,0,5,2010,215000
1,2,526350040,20,80,11622,5,6,1961,1961,0,...,140,0,0,0,120,0,0,6,2010,105000
2,3,526351010,20,81,14267,6,6,1958,1958,108,...,393,36,0,0,0,0,12500,6,2010,172000
3,4,526353030,20,93,11160,7,5,1968,1968,0,...,0,0,0,0,0,0,0,4,2010,244000
4,5,527105010,60,74,13830,5,5,1997,1998,0,...,212,34,0,0,0,0,0,3,2010,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,37,7937,6,6,1984,1984,0,...,120,0,0,0,0,0,0,3,2006,142500
2926,2927,923276100,20,<NA>,8885,5,5,1983,1983,0,...,164,0,0,0,0,0,0,6,2006,131000
2927,2928,923400125,85,62,10441,5,5,1992,1992,0,...,80,32,0,0,0,0,700,7,2006,132000
2928,2929,924100070,20,77,10010,5,5,1974,1975,0,...,240,38,0,0,0,0,0,4,2006,170000
2929,2930,924151050,60,74,9627,7,5,1993,1994,94,...,190,48,0,0,0,0,0,11,2006,188000

In [48]:
# No floating point cols
(
    df
    # Now lets select in dtypes
    .select_dtypes('int')
    # Lets grab the summary stats
    .describe()
)

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2930.00000,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,1465.50000,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,845.96247,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,1.00000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,733.25000,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,1465.50000,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,2197.75000,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,2930.00000,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [49]:
# Exploring Lot Frontage
(
    df
    # Select the relevant dtypes
    .query("`Lot Frontage`.isna()")
    
)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
11,12,527165230,20,RL,<NA>,7980,Pave,NA,IR1,Lvl,...,0,NA,GdPrv,Shed,500,3,2010,WD,Normal,185000
14,15,527182190,120,RL,<NA>,6820,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,6,2010,WD,Normal,212000
22,23,527368020,60,FV,<NA>,7500,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,1,2010,WD,Normal,216000
23,24,527402200,20,RL,<NA>,11241,Pave,NA,IR1,Lvl,...,0,NA,NA,Shed,700,3,2010,WD,Normal,149000
24,25,527402250,20,RL,<NA>,12537,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,4,2010,WD,Normal,149900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2894,2895,916326010,20,RL,<NA>,16669,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,1,2006,WD,Normal,228000
2897,2898,916403130,60,RL,<NA>,11170,Pave,NA,IR2,Lvl,...,0,NA,GdPrv,NA,0,4,2006,WD,Normal,250000
2898,2899,916460070,20,RL,<NA>,8098,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,10,2006,WD,Normal,202000
2912,2913,923226150,90,RL,<NA>,11836,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,3,2006,WD,Normal,146500
2926,2927,923276100,20,RL,<NA>,8885,Pave,NA,IR1,Low,...,0,NA,MnPrv,NA,0,6,2006,WD,Normal,131000

In [50]:
# Exploring Lot Frontage
(
    df
    # Select the relevant dtypes
    .query("`Garage Yr Blt`.isna()")
    
)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
27,28,527425090,20,RL,70,10500,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2010,ConLI,Normal,115000
119,120,534276360,20,RL,77,9320,Pave,NA,IR1,Lvl,...,0,NA,NA,Shed,400,1,2010,WD,Normal,128950
125,126,534427010,90,RL,98,13260,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,1,2010,Oth,Abnorml,84900
129,130,534450180,20,RL,50,7207,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,2,2010,WD,Normal,116500
130,131,534451150,30,RL,55,5350,Pave,NA,IR1,Lvl,...,0,NA,GdWo,Shed,450,5,2010,WD,Normal,76500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2913,2914,923226180,180,RM,21,1470,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2006,WD,Normal,73000
2916,2917,923228130,180,RM,21,1533,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,8,2006,WD,Abnorml,92000
2918,2919,923228210,160,RM,21,1526,Pave,NA,Reg,Lvl,...,0,NA,GdPrv,NA,0,6,2006,WD,Normal,79500
2919,2920,923228260,160,RM,21,1936,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,6,2006,WD,Normal,90500
2927,2928,923400125,85,RL,62,10441,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,Shed,700,7,2006,WD,Normal,132000

In [52]:
# Exploring Lot Frontage
(
    df
    # Select the Garage Yr Blt col
    [['Garage Yr Blt']]
    # Summary Statistics 
    .describe()    
)

       Garage Yr Blt
count    2771.000000
mean     1978.132443
std        25.528411
min      1895.000000
25%      1960.000000
50%      1979.000000
75%      2002.000000
max      2207.000000

In [53]:
# An issue with the max value of the Year Built 22017 might be a type
with pd.option_context('display.min_rows', 30, 
                       'display.max_columns', 82):
    display(
        df
        .query('`Garage Yr Blt` > 2023')
    )

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
2260,2261,916384070,20,RL,68,8298,Pave,NA,IR1,HLS,AllPub,Inside,Gtl,Timber,Norm,Norm,1Fam,1Story,8,5,2006,2007,Hip,CompShg,VinylSd,VinylSd,,<NA>,Gd,TA,PConc,Gd,TA,Av,GLQ,583,Unf,0,963,1546,GasA,Ex,Y,SBrkr,1564,0,0,1564,0,0,2,0,2,1,Ex,6,Typ,1,Gd,Attchd,2207,RFn,2,502,TA,TA,Y,132,0,0,0,0,0,NA,NA,NA,0,9,2007,New,Partial,267300

In [79]:
# Using filter to work with Cols
(
    df
    # Rename all label/col names with Yr to Year
    .rename(columns=lambda label_name: label_name.replace('Yr', 'Year') )
    # Filter the cols with Yr in them
    .filter(like='Year')
    .pipe(lambda df_: df_[df_.gt(2023).any(axis='columns')])
)

      Year Built  Year Remod/Add  Garage Year Blt  Year Sold
2260        2006            2007             2207       2007

In [83]:
# We can use clipping
(
    df
    # Select the Garage Sold Col
    ['Garage Yr Blt']
    # Clip the Garage solt col by the Yr Built
    .clip(upper=df['Year Built'].max())
    # Lets get our Value counts
    .value_counts()
    # Sort by index
    .sort_index()
    
)

Garage Yr Blt
1895      1
1896      1
1900      6
1906      1
1908      1
       ...
2006    115
2007    115
2008     61
2009     29
2010      6
Name: count, Length: 102, dtype: int64[pyarrow]

In [86]:
# Converting to Category
(
    df
    # Using the assign method to update records
    .assign(
        # Update the 
        **df
            # Select the string cols in the df
            .select_dtypes('string')
            # replace all the NA values in the df with Missing
            .replace('', 'Missing')
            # Convert to category
            .astype('category'),
        # Using dictionary unpacking to update the Garage col with clipped col
        **{'Garage Yr Blt': df['Garage Yr Blt'].clip(upper=df['Year Built'].max())}      
    )
    # Check dtypes_value_count
    .dtypes.value_counts()
)

int64[pyarrow]    39
category           4
category           3
category           2
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
Name: count, dtype: int64

## Shrinking Numbers

- Create a function, `shrink_ints`, to automatically convert suitable integer columns to smaller integer types (`unit8`, `uint16`, `uint32`) based on their range of values
- Apply shrink_ints function to the DF to reduce memory usage while maintaining data integrity
- Create a function, `house_cleaning`, that combines the data cleaningsteps for string columns, clipping values in the 'Grage Yr Blt' column, and shrinking integer columns

In [100]:
# Converting to Categorydf_1
(
    df
    # Using the assign method to update records
    .assign(
        # Update the 
        **df
            # Select the string cols in the df
            .select_dtypes('string')
            # replace all the NA values in the df with Missing
            .replace('', 'Missing')
            # Convert to category
            .astype('category'),
        # Using dictionary unpacking to update the Garage col with clipped col
        **{'Garage Yr Blt': df['Garage Yr Blt'].clip(upper=df['Year Built'].max())}      
    )
    # Get the summary statistics
    .describe()
)

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2930.00000,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,1465.50000,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,845.96247,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,1.00000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,733.25000,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,1465.50000,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,2197.75000,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,2930.00000,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [94]:
# Check the max size of the ff data types
for size in [np.uint8, np.uint16, np.uint32]:
    # Note, only positive integers
    print(np.iinfo(size))

Machine parameters for uint8
---------------------------------------------------------------
min = 0
max = 255
---------------------------------------------------------------

Machine parameters for uint16
---------------------------------------------------------------
min = 0
max = 65535
---------------------------------------------------------------

Machine parameters for uint32
---------------------------------------------------------------
min = 0
max = 4294967295
---------------------------------------------------------------

In [95]:
def shrink_ints(df):
    mapping = {}
    for col in df.dtypes[df.dtypes == 'int64[pyarrow]'].index:
        max_ = df[col].max()
        min_ = df[col].min()
        if min_ < 0:
            continue
        elif max_ < 255:
            mapping[col] = 'uint8[pyarrow]'
        elif max_ < 65_535:
            mapping[col] = 'uint16[pyarrow]'
        elif max_ < 4294967295:
            mapping[col] = 'uint64[pyarrow]'
        return df.astype(mapping)

In [101]:
# Converting to Category, df_2
(
    df
    # Using the assign method to update records
    .assign(
        # Update the 
        **df
            # Select the string cols in the df
            .select_dtypes('string')
            # replace all the NA values in the df with Missing
            .replace('', 'Missing')
            # Convert to category
            .astype('category'),
        # Using dictionary unpacking to update the Garage col with clipped col
        **{'Garage Yr Blt': df['Garage Yr Blt'].clip(upper=df['Year Built'].max())}      
    )
    # Convert the numerical variables to the right datatypes to save memory
    .pipe(shrink_ints)
    # Get the summary statistics
    .describe()
)

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2930.00000,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,1465.50000,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,845.96247,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,1.00000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,733.25000,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,1465.50000,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,2197.75000,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,2930.00000,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [99]:
# Check whether the 2 dfs are equal

# df_1.equals(df_2)

True

In [104]:
# Creating a clean_housing function

def clean_housing(df):
    return(
    df
    # Using the assign method to update records
    .assign(
        # Update the 
        **df
            # Select the string cols in the df
            .select_dtypes('string')
            # replace all the NA values in the df with Missing
            .replace('', 'Missing')
            # Convert to category
            .astype('category'),
        # Using dictionary unpacking to update the Garage col with clipped col
        **{'Garage Yr Blt': df['Garage Yr Blt'].clip(upper=df['Year Built'].max())}      
    )
    # Convert the numerical variables to the right datatypes to save memory
    .pipe(shrink_ints)
    )


clean_housing(df).dtypes

Order             uint16[pyarrow]
PID                int64[pyarrow]
MS SubClass        int64[pyarrow]
MS Zoning                category
Lot Frontage       int64[pyarrow]
                       ...
Mo Sold            int64[pyarrow]
Yr Sold            int64[pyarrow]
Sale Type                category
Sale Condition           category
SalePrice          int64[pyarrow]
Length: 82, dtype: object